<div class="hero-unit">
  <h1>FileShort</h1>
  <p>Upload your files and share it for your friends!</p>

  <%= form_for :upload, :url => { :action => :create }, :html => { :class => "form-search"} do |f| %>
    <%= f.file_field :original_name, :class => "input-medium search-query" %>
    <%= f.submit :class => "btn" %>
  <% end %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Extension</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.original_name %></td>
    <td><%= upload.extension %></td>
    <td><%= link_to 'Show', :action => :view, :id => upload.id %></td>
    <td><%= link_to 'Remove', :action => :delete, :id => upload.id %></td>
  </tr>
<% end %>
</table>